.block-left{
	width:15%;
	overflow:auto;
	float:left;
}


.block-right{
	width:75%;
	overflow:auto;
}

.menu{
	list-style-type: none;
    margin-left: 0;
    padding-left: 0;
	text-align: left;
	transition: 0.4s;
	border: none;
	outline: none;
}